<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity=     "sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
       <link rel="stylesheet" href="/assets/css/main.css" >
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>About</title>
  </head>
  <style media="screen">
    .header{
      font-family: times, Times New Roman, times-roman, georgia, serif;
 color: #444;
 margin: 0;
 padding: 0px 0px 6px 0px;
 font-size: 51px;
 line-height: 44px;
 letter-spacing: -2px;
 display: block;
 font-weight: bold;
    }
    .paragraph{
      line-height: 30px;
    }

hr.style1{
	border-top: 1px solid #8c8b8b;
  background-color: #444;
  width:40%;
}
  </style>
  <body>
    <%- include('partials/nav'); -%>
<div class="About text-center" style="margin-top:7%" >
	<div class="container-fluid">
    	<div calss="row">
        	<h1><span style="font-size:48px;color:#7FCCFF">A</span>bout</h1>
          <br>
<hr class="style1">
<br>
            <div class="container">
  <div class="row">
    <div class="col-sm text-left paragraph">
      <span class="header">Abstract</span>
COVID-19 represents a challenge to healthcare services around the world. Up until today, this pandemic has killed more than 800,000 individuals [1], and the cases are continuously increasing. Many healthcare facilities have limited health workers and shortage of resources like beds, ventilators and even face masks, and doctors are put in situations where they’d have to prioritize patients, which causes a dilemma in clinical decision making [2]. Studies have shown that patients at high risk of mortality have biomarkers that can predict their mortality, which can help us prioritize them in Intensive Care Units (ICU) to save their lives [3].

<span class="header">Goals</span>
1.	Implement a machine learning model to predict the mortality and severity of patients according to biomarkers from their blood tests.<br>
2.	Stratify patients based on their need to be placed in the ICU and under maximum medical care to prevent their death.
<span class="header">Specifications</span>
The model can be built to provide a decision making tree, and it can work out the most significant predictive factors for mortality of COVID-19 patients. We will also consider building an accessible user-friendly website for health workers to use. All they have to do is to upload an excel sheet containing lab tests of patients, and the program will immediately point their attention to patients at higher risk and need extra medical care.



</div>
    <div class=" IMGS col-sm text-left">
        <img id="i1"  data-aos="fade-left" src="assets/img/119089923_240208050660428_459045412340830304_n.jpg" width="270" height="500px">
    	<img  id="i2" data-aos="fade-right" src="assets/img/119071378_372274450594397_4317364987578737230_n.jpg" width="240px" height="246px" style="vertical-align:top">


                    <img id="i3"data-aos="fade-up-right" src="assets/img/119109990_315144123095953_5648226619559389357_n.jpg" width="240" height="250px"  style="position:absolute;top:250px;right:7%;vertical-align:top;text-align:right;"   >
    </div>

  </div>
</div>

</div>

  <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="index.html" style="text-decoration:none;color:;"> CovidSavior</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></        script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"         crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
          <script>
  AOS.init();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="js/js.js"></script>
      </body>
</html>
