<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<style type="text/css">
		.loginBox
		{
			
		}
		.loginBox button:hover
		{
			
		}
		.password
		{
			width:49% !important;
			display: inline !important;
			margin: 0 !important;

		}
	</style>
</head>
<body>

 <%- include('partials/nav'); -%>
 <br>
 <div class="row">
	<div class="col-xl-7 col-lg-4 col-md-4 col-sm-3 col-1"></div>
	
	<div class="loginBox col-xl-3 col-lg-4 col-md-5 col-sm-6 col-10">
		<h3 style="color:#403866;">Register</h3>
		<input type="text" name="Username" placeholder="Doctor Name" required="on" autocomplete="off">
		<input type="text" name="id" placeholder="Doctor ID" autocomplete="off" required="on">
		<input type="text" name="email" placeholder="Email" required autocomplete="off">
		<input type="text" name="hospital" placeholder="Hospital" autocomplete="off" required="on">
		<input class = "password" type="password" name="password" placeholder="Password" required="on">
		<input class = "password" type="password" name="password" placeholder="Confirm" required="on">
		<button>Register</button>
		<p>Already registered? <a href="/login" data-toggle="modal" data-target="#exampleModal">Log in</a></p>
	</div>
	
</div>



<!-- End the Footer Section-->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    < /        script> <
    script src = "https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity = "sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin = "anonymous" >
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="/js/js.js"></script> -->
 
</body>
</html>
