body {
	margin:0;
	padding:0;
	font-family: 'Ubuntu', sans-serif;
	background: url(/assets/img/register.jpg);
	background-size: 120% !important;
}

.loginBox{
	/*
	
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%,-50%);
	
	
	*/
	
	height: fit-content;
	color:#000;
	margin-top: 10% !important;
	padding-top: 30px;
	opacity: 80%;
	background-color: #fff;
	text-align: center;
	box-shadow: 5px 5px 40px rgb(150,150,150);
	*/
}


.loginBox input[type="text"],.loginBox input[type="password"]{
	border:0;
	background: none;
	display: block;
	margin: 15px auto;
	text-align: left;
	border:1px solid #b6b4f9;
	width:100%;
	height: 50px;
	padding:14px 5%;
	outline: none;
	color: #403866;
	border-radius: 18px;
	background-color:transparent;
	transition: 0.4s; 
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
}	
h3 {
	font-size:100%;
	font-weight: 15em;
	text-transform: uppercase;
	text-align: left;
	padding: 0 5%;
}

.loginBox button{
	border:0;
	background: none;
	display: block;
	margin: 15px auto;
	text-align: center;
	border:1px solid #827ffe;
	width:100px;
	padding:14px 10px;
	outline: none;
	color: #403866;
	border-radius: 24px;
	transition: 0.35s;
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
}
.loginBox button:hover{
	
    /*padding:17px; */
    background-color: #40ff00;
    border:2px solid #40ff00;
}
.loginBox button:focus{
	background-color: #40ff00;
    border:2px solid #40ff00;
}


.loginBox input[type="text"]:hover,.loginBox input[type="password"]:hover
{
	/*
	width: 300px; 
	padding:20px;
	font-size: 20px;
	*/
	
	border:1px solid #002db3;
	
}

.loginBox input[type="text"]:focus,.loginBox input[type="password"]:focus
{
	/* 
	width: 300px;
	padding:20px;
	*/
	
	border:1px solid #002db3;
	font-size: 17px;
}

p {
	color: #403866;
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
}
p a {
	text-decoration: none;
}


